<header>
	<div class="monospace-override">
		{{ strings.Repeat ( .Site.Title | len | add 6 ) "=" }}<br>
		== <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> ==<br>
		{{ strings.Repeat ( .Site.Title | len | add 6 ) "=" }}
	</div>
	<div style="float: right;"><em>{{ .Site.Params.subtitle }}</em></div><br>
	<nav>
		<a href="/"><b>Start</b></a>.
		{{ with .Site.Menus.main }}
		{{ range . }}
		<a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a>.
		{{ end }}
	</nav>
	{{ end }}
</header>
